
<nav>
    <a href="/" class="logolink">
        <div class="logo">jetMenu</div>
    </a>
    <ul class="nav-list">
        <li class="menuLink"><a href="/">Inicio</a></li>
        <li class="menuLink"><a href="/planos">Planos</a></li>
        <li class="menuLink"><a href="#">Serviços</a></li>
        <li class="menuLink"><a href="/login">login</a></li>
        <div class="wpp">
            <li class="menuLink" ><a id="wpp" href="#">Chamar no Whatsapp</a></li>
        </div>
    </ul>
</nav>
   