<main>
        <div class="container">
            <div class="central">
                <div class="texto">
                    <p class="aumentar">JetMenu – Agilidade e Eficiência para o Seu Delivery!</p> <br>
                    <span>Bem-vindo ao JetMenu, o sistema de gestão de delivery que transforma a forma como você gerencia pedidos, cardápios e entregas. Criado para atender às necessidades de restaurantes, lanchonetes e serviços de entrega, o JetMenu é a solução ideal para quem busca agilidade, praticidade e tecnologia de ponta.</span>
            
                </div>
            </div>
            
            <div class="central2">
                <div class="texto">
                    <p class="aumentar">Faça o download já!</p> <br>
                    <span>
                        Para baixar agora e acelerar o seu delivery e seus ganhos com o JetMenu <a href="#">clique aqui</a>!
                    </span>
                </div>
            
            </div>

        </div>
    </main>